* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(27, 27, 27);
    max-width: 1920px;
    margin: auto;
}

/* Home */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem 1rem;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 2rem 0;
}

.logo {
    width: 50%;
    max-width: 3rem;
    height: auto;
}

.nav {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 900;
    padding: 0.5em;
}

.nav a:hover {
    color: rgb(255, 81, 0);
    transition: all 0.3s ease 0s;
}

button {
    padding: 0.8rem;
    background-color: rgb(255, 81, 0);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 900;
    width: auto;
    font-size: 1em;
}

button a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}

.subtext {
    color: rgb(172, 188, 194);
}

.icons {
    text-decoration: none;
    font-size: 2em;
}

i:hover {
    color: white;
    transition: all 0.3s ease 0s;
}

footer {
    text-align: center;
    padding: 0px 1rem;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-image {
    max-height: 40rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.main-text {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 1rem;
}

.project-image {
    max-height: 5rem;
}

@media screen and (max-width: 430px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        padding: 1rem 0px;
    }
    
    .logo {
        display: none;
    }

    .nav {
        display: flex;
        padding-bottom: 1rem;

    }

    .nav a {
        font-size: 1.3em;
        margin: 0 auto;
    }

    button {
        font-size: 1.1em;
    }

    .button {
        text-align: center;
    }

    .main-image {
        border-radius: 2rem;
        max-height: 15rem;
        margin-right: 0.4rem;
        margin-left: 1rem;
    }

    .main-text {
        font-size: 1.2em;
    }
}